params {
    sample = null
    ref = null
    r1 = null
    r2 = null

    lib = 'lib1'
    platform = 'ILLUMINA'
    outdir = 'results'

    batch_bam_gb = null
    batch_vram_gb = null

    parabricks_container = 'docker://nvcr.io/nvidia/clara/clara-parabricks:4.7.0-1'
    cubayes_container = "docker://docker.io/cubayes/cubayes:0.2.0"
}

process {
    withName: alignment {
        container = params.parabricks_container
    }

    withName: variantCalling {
        container = params.cubayes_container
    }

    withName: compressVCF {
        container = params.parabricks_container
    }
}

apptainer {
    enabled = true
    autoMounts = true
    runOptions = '--nv'
}
